* {
    box-sizing: border-box;
}
html,
body {
    font-family: monospace;
    padding: 0;
    margin: 0;
    font-size: 100%;
}
body {
    text-align: center;
    max-width: 30em;
    margin: 0 auto;
    overflow: hidden;
}
h1 {
    margin: .5em 0;
    font-weight: 400;
}
#code {
    font-size: 200%;
}
button {
    line-height: 3;
    margin: .5em;
    font-size: inherit;
    font-family: inherit;
    display: inline-block;
    width: 3em;
    text-align: center;
    position: relative;
    border: 0;
    outline: 0;
    background: none;
}
.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ripple-effect{
    position: absolute;
    border-radius: 50%;
    animation: ripple-animation 1s;
    opacity: 0;
}

@keyframes ripple-animation {
    from {
        transform: scale(1);
        opacity: 0.4;
    }
    to {
        transform: scale(5);
        opacity: 0;
    }
}
